textarea{
  width: 95%;
  border: 5px solid #edece3;
  padding: 5px;
  margin: 2px 0; 
}

/* table */
table {
  width:100%;
}

table, th, td {
  border-collapse: collapse;
  box-shadow: 0px 7px 20px rgb(195, 195, 195);
}

th, td {
  padding: 10px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
 background-color:#fff;
}
table tr{
  overflow: hidden; 
  width: 20px;
}

table th {
  background-color: #edece3;
  color: #444444;
}
/* end table */


.enCoder{ 
  background-color: #F4F4F4;
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  float:left;
  margin: 5px;
  
}
.deCoder{ 
  width: 45%;
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 10px;
  float:right;
  margin: 5px;
  
}

.stat{
  width: 45%;
  float:right; 
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;

}

/*Media for small screens*/
@media all and (max-width: 900px) and (min-width: 0px){
  .deCoder{
    width:95%;
    float:left;
  }
  .enCoder{
    width:95%;
    float:left; 
  }
  .stat{
    width:95%;
    float:left; 
  }
}
